<!DOCTYPE html>
<html >
    <H1>Бесплатные обьявления</H1>

    {% if advertisements %}

    <ul>
        {% for advertisement in advertisements %}
        <li>
            {{ advertisement.title }}  (Цена: {{ advertisement.price }}) рубл.
            <p>
                Дата создания: {{ advertisement.create_at }}
            </p>
            <p>
                Количество просмотров: {{ advertisement.view_count }}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Обьявлений нет.</p>
    {% endif %}
</html>